/**
 * _landing.scss
 * Styles for the landing page
 */

.landing-title {
    color: $post-title-color;
    font-weight: lighter;
    text-align: left;
    padding-bottom: 0.7rem;
}

.landing-photo img{
	float: left;
	clear: left;
	margin-top: 5px;
	margin-right: 10px;
	margin-bottom: 0px;
	width: 33%;
}

.landing-content{
	test-align: justify;
	text-justify: inter-word;
}

.clear{clear:both;}