/**
 * _landing.scss
 * Styles for the landing page
 */

.landing-page{
	max-width: 38rem;
	margin: 0;
	position: absolute;
	left: 50%;
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.landing-title {
    color: $post-title-color;
    font-weight: lighter;
    text-align: left;
    padding-bottom: 0.7rem;
}

.landing-photo img{
	float: left;
	clear: left;
	margin-top: 5px;
	margin-right: 10px;
	margin-bottom: 0px;
	width: 33%;
}

.landing-content{
	test-align: justify;
	text-justify: inter-word;
}

.clear{clear:both;}