/**
 * _teaching.scss
 * Styles for the teaching page
 */

div.hfill{
	display: flex;
}

dt.bullet{
 	display: list-item;
 	list-type-style: disc;
 	list-style-position: inside;
 	font-weight: normal;
 }

summary{
	font-weight: normal;
	display: flex;
}

summary:hover {
    text-decoration: underline;
}

details> p{
  margin-left: 2.5em;
}