<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <nav class="nav-main">
      <ul>
        <li class="name"><a class= "hvr-underline-reveal" href="{{ site.baseurl }}/.">Ava Chen</a></li>
        <li class="research"><a class= "hvr-underline-reveal" href="{{ site.baseurl }}/research/">publications</a></li>
        <li class="cv"><a class= "hvr-underline-reveal" href="{{ site.baseurl }}/pdfs/ava_chen_CV.pdf">CV</a></li>
        <span style="display: inline-block;vertical-align:bottom;padding: 0.7rem 0rem;">/</span>
        <li class="res"><a class= "hvr-underline-reveal" href="{{ site.baseurl }}/pdfs/ava_chen_resume.pdf">resume</a></li>
        <li class="hvr-underline-reveal"><a href="https://www.avamakesthings.com">blog</a></li>
      </ul>
    </nav>

    <div class="container content">
      <main>
        {{ content }}
      </main>
    </div>

  </body>
</html>
